project:
  type: website
  output-dir: _site

website:
  title: "My Research Notes"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: About
        href: about.qmd
      - text: Posts
        href: posts.qmd

format:
  html:
    theme: cosmo
    toc: true
    code-fold: true
    math: mathjax


